* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: aqua;
}

ul {
    list-style: none ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    width: 100%;
    height: 100vh;
    background-color: chocolate;
}

button {
    padding: 1rem 2rem;
    background-color: brown;
    color: white;
    border-radius: .2rem;
}